## AutoSklearn AutoML Sample Code

In [1]:
!pip install auto-sklearn
!pip install numpy --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting auto-sklearn
  Downloading auto-sklearn-0.15.0.tar.gz (6.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.5/6.5 MB 67.6 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from auto-sklearn) (67.7.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from auto-sklearn) (4.5.0)
Collecting distro (from auto-sklearn)
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from auto-sklearn) (1.22.4)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from auto-sklearn) (1.10.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from auto-sklearn) (1.2.0)
Collecting scikit-learn<0.25.0,>=0.24.0 (from auto-sklearn)
  Downloading scikit-learn-0.24.2.tar.gz (7.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.5/7.5 MB 76.7 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: dask>=2021.12 in /usr/local/lib/python3.10/dist-packages (from auto-sklearn) (2022.12.1)
Requirement already satisfied: distributed>=2012.12 in /usr/local/lib/python3.10/dist-packages (from auto-sklearn) (2022.12.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from auto-sklearn) (6.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.10/dist-packages (from auto-sklearn) (1.5.3)
Collecting liac-arff (from auto-sklearn)
  Downloading liac-arff-2.5.0.tar.gz (13 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: threadpoolctl in /usr/local/lib/python3.10/dist-packages (from auto-sklearn) (3.1.0)
Collecting ConfigSpace<0.5,>=0.4.21 (from auto-sklearn)
  Downloading ConfigSpace-0.4.21-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.8/4.8 MB 83.8 MB/s eta 0:00:00
Collecting pynisher<0.7,>=0.6.3 (from auto-sklearn)
  Downloading pynisher-0.6.4.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Collecting pyrfr<0.9,>=0.8.1 (from auto-sklearn)
  Downloading pyrfr-0.8.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 76.9 MB/s eta 0:00:00
Collecting smac<1.3,>=1.2 (from auto-sklearn)
  Downloading smac-1.2.tar.gz (260 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 260.9/260.9 kB 27.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cython in /usr/local/lib/python3.10/dist-packages (from ConfigSpace<0.5,>=0.4.21->auto-sklearn) (0.29.34)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.10/dist-packages (from ConfigSpace<0.5,>=0.4.21->auto-sklearn) (3.0.9)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2021.12->auto-sklearn) (8.1.3)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from dask>=2021.12->auto-sklearn) (2.2.1)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2021.12->auto-sklearn) (2023.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2021.12->auto-sklearn) (23.1)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.10/dist-packages (from dask>=2021.12->auto-sklearn) (1.4.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.10/dist-packages (from dask>=2021.12->auto-sklearn) (0.12.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from distributed>=2012.12->auto-sklearn) (3.1.2)
Requirement already satisfied: locket>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2012.12->auto-sklearn) (1.0.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2012.12->auto-sklearn) (1.0.5)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2012.12->auto-sklearn) (5.9.5)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.10/dist-packages (from distributed>=2012.12->auto-sklearn) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2012.12->auto-sklearn) (1.7.0)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.10/dist-packages (from distributed>=2012.12->auto-sklearn) (6.3.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from distributed>=2012.12->auto-sklearn) (1.26.15)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.10/dist-packages (from distributed>=2012.12->auto-sklearn) (3.0.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->auto-sklearn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->auto-sklearn) (2022.7.1)
Collecting emcee>=3.0.0 (from smac<1.3,>=1.2->auto-sklearn)
  Downloading emcee-3.1.4-py2.py3-none-any.whl (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.2/46.2 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.0->auto-sklearn) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->distributed>=2012.12->auto-sklearn) (2.1.2)
Building wheels for collected packages: auto-sklearn, pynisher, scikit-learn, smac, liac-arff
  Building wheel for auto-sklearn (pyproject.toml) ... done
  Created wheel for auto-sklearn: filename=auto_sklearn-0.15.0-py3-none-any.whl size=6641946 sha256=996babfe29dd10be21db6f08be5d2844887018763b43ec60640790a5ee35294e
  Stored in directory: /root/.cache/pip/wheels/4d/0a/f9/8c1a06bcc36bc16b467b044b5bb03a90f92a5c5e6cd443414b
  Building wheel for pynisher (setup.py) ... done
  Created wheel for pynisher: filename=pynisher-0.6.4-py3-none-any.whl size=7027 sha256=e5785b7597ebc9a15eef3a07e22db1f6a867776a64f27981356505c6262520a2
  Stored in directory: /root/.cache/pip/wheels/90/7b/53/b21d6b41910f43c7f1557262e579598f83e75e44c659c1bcce
  Building wheel for scikit-learn (pyproject.toml) ... done
  Created wheel for scikit-learn: filename=scikit_learn-0.24.2-cp310-cp310-linux_x86_64.whl size=24897992 sha256=ba7aecce8b00ee5620c3d22e94ed7e2a07eabc1f205321f9ed143a44727d97ac
  Stored in directory: /root/.cache/pip/wheels/13/a4/68/4e78865652fa14db4a162b491e5138565f97646f9e1f2ab8cc
  Building wheel for smac (setup.py) ... done
  Created wheel for smac: filename=smac-1.2-py3-none-any.whl size=215920 sha256=da097ea897c77a5d280e4cc789c21549aa7d079e33a887e6c44cb2c18ff08a1e
  Stored in directory: /root/.cache/pip/wheels/66/2e/d9/2db14bdfcdc36bf12e202b44201df03f194367fcfd85ce2778
  Building wheel for liac-arff (setup.py) ... done
  Created wheel for liac-arff: filename=liac_arff-2.5.0-py3-none-any.whl size=11717 sha256=cb03d91d44408d3f7bdac9242ba350f240a0dcfb096554a5e8bb0a2587766ba0
  Stored in directory: /root/.cache/pip/wheels/5d/2a/9c/3895d9617f8f49a0883ba686326d598e78a1c2f54fe3cae86d
Successfully built auto-sklearn pynisher scikit-learn smac liac-arff
Installing collected packages: pyrfr, pynisher, liac-arff, emcee, distro, scikit-learn, ConfigSpace, smac, auto-sklearn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.2.2
    Uninstalling scikit-learn-1.2.2:
      Successfully uninstalled scikit-learn-1.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
imbalanced-learn 0.10.1 requires scikit-learn>=1.0.2, but you have scikit-learn 0.24.2 which is incompatible.
yellowbrick 1.5 requires scikit-learn>=1.0.0, but you have scikit-learn 0.24.2 which is incompatible.
Successfully installed ConfigSpace-0.4.21 auto-sklearn-0.15.0 distro-1.8.0 emcee-3.1.4 liac-arff-2.5.0 pynisher-0.6.4 pyrfr-0.8.3 scikit-learn-0.24.2 smac-1.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)
Collecting numpy
  Using cached numpy-1.24.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.22.4
    Uninstalling numpy-1.22.4:
      Successfully uninstalled numpy-1.22.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
imbalanced-learn 0.10.1 requires scikit-learn>=1.0.2, but you have scikit-learn 0.24.2 which is incompatible.
numba 0.56.4 requires numpy<1.24,>=1.18, but you have numpy 1.24.3 which is incompatible.
tensorflow 2.12.0 requires numpy<1.24,>=1.22, but you have numpy 1.24.3 which is incompatible.
yellowbrick 1.5 requires scikit-learn>=1.0.0, but you have scikit-learn 0.24.2 which is incompatible.
Successfully installed numpy-1.24.3

### ***If you get error for the following, try restating the kernel***

In [2]:
from sklearn import metrics

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Regression

#### Load Data

In [4]:
cars = pd.read_csv('cars.csv')

In [5]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  number_of_photos   38531 non-null  float64
 17  up_counter         38531 non-null  float64
 18  duration_listed    38531 non-null  float64
dtypes: bool(3), float64(5), int64(2), object(9)
memory usage: 4.8+ MB

In [6]:
label = 'price_usd'

In [7]:
# Split the data to test and train
from sklearn.model_selection import train_test_split
cars_train, cars_test = train_test_split(cars, test_size=0.2, random_state=42)
cars_test_labels = cars_test[label]
cars_test_nolabel = cars_test.drop([label], axis=1)
cars_train_labels = cars_train[label]
cars_train_nolabel = cars_train.drop([label], axis=1)
cars_train.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,body_type,has_warranty,state,drivetrain,price_usd,is_exchangeable,number_of_photos,up_counter,duration_listed
37935,Peugeot,307,mechanical,silver,320000,2005,gasoline,False,gasoline,1.6,universal,False,owned,front,7280.0,False,10.0,1.0,45.5
28568,BMW,525,automatic,violet,400000,1997,diesel,False,diesel,2.5,universal,False,owned,rear,2380.0,True,2.5,0.5,2.5
24311,Chevrolet,Captiva,mechanical,grey,79000,2015,diesel,False,diesel,2.2,suv,False,owned,all,20300.0,False,4.5,6.5,30.5
19393,Jeep,Grand Cherokee,automatic,other,500000,2004,diesel,False,diesel,2.7,suv,False,owned,all,9100.0,False,6.5,39.5,151.0
2540,Opel,Astra,mechanical,silver,280000,2007,diesel,False,diesel,1.7,universal,False,owned,front,7000.0,True,4.0,3.0,33.0

In [8]:
cars_train.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,body_type,has_warranty,state,drivetrain,price_usd,is_exchangeable,number_of_photos,up_counter,duration_listed
37935,Peugeot,307,mechanical,silver,320000,2005,gasoline,False,gasoline,1.6,universal,False,owned,front,7280.0,False,10.0,1.0,45.5
28568,BMW,525,automatic,violet,400000,1997,diesel,False,diesel,2.5,universal,False,owned,rear,2380.0,True,2.5,0.5,2.5
24311,Chevrolet,Captiva,mechanical,grey,79000,2015,diesel,False,diesel,2.2,suv,False,owned,all,20300.0,False,4.5,6.5,30.5
19393,Jeep,Grand Cherokee,automatic,other,500000,2004,diesel,False,diesel,2.7,suv,False,owned,all,9100.0,False,6.5,39.5,151.0
2540,Opel,Astra,mechanical,silver,280000,2007,diesel,False,diesel,1.7,universal,False,owned,front,7000.0,True,4.0,3.0,33.0

In [9]:
import autosklearn.regression

regression = autosklearn.regression.AutoSklearnRegressor(time_left_for_this_task=5*60,
                                                              per_run_time_limit=30, 
                                                              n_jobs=8)

In [10]:
# perform the search for cars 
regression.fit(cars_train_nolabel, cars_train_labels)

/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column manufacturer_name has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column model_name has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column transmission has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column color has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column engine_fuel has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column engine_type has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column body_type has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column state has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column drivetrain has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(

AutoSklearnRegressor(ensemble_class=<class 'autosklearn.ensembles.ensemble_selection.EnsembleSelection'>,
                     n_jobs=8, per_run_time_limit=30,
                     time_left_for_this_task=300)

In [14]:
import sklearn

In [15]:
#Predict using the model¶
predictions = regression.predict(cars_test_nolabel)
print("Accuracy score:{}".format(sklearn.metrics.mean_absolute_error(cars_test_labels, predictions)))

Accuracy score:6383.97175662547

In [16]:
print(regression.sprint_statistics())

auto-sklearn results:
  Dataset name: a1bead31-0787-11ee-8be6-0242ac1c000c
  Metric: r2
  Number of target algorithm runs: 89
  Number of successful target algorithm runs: 0
  Number of crashed target algorithm runs: 89
  Number of target algorithms that exceeded the time limit: 0
  Number of target algorithms that exceeded the memory limit: 0

In [17]:
regression.leaderboard()

          rank  ensemble_weight  type  cost duration
model_id
1            1              1.0  <NA>  <NA>     <NA>

In [18]:
print(regression.show_models)

<bound method AutoSklearnEstimator.show_models of AutoSklearnRegressor(ensemble_class=<class 'autosklearn.ensembles.ensemble_selection.EnsembleSelection'>,
                     n_jobs=8, per_run_time_limit=30,
                     time_left_for_this_task=300)>

### Classification

##### Load Data

In [19]:
titanic = pd.read_csv('titanic.csv')

In [20]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [21]:
#Define the label column
label = 'Survived'

In [22]:
# Split the data to test and train
from sklearn.model_selection import train_test_split
titanic_train, titanic_test = train_test_split(titanic, test_size=0.2, random_state=42)
titanic_test_labels = titanic_test[label]
titanic_test_nolabel = titanic_test.drop([label], axis=1)
titanic_train_labels = titanic_train[label]
titanic_train_nolabel = titanic_train.drop([label], axis=1)
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
331,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S
733,734,0,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.0,1,0,350025,7.8542,NaN,S
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S

In [23]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
331,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S
733,734,0,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
704,705,0,3,"Hansen, Mr. Henrik Juul",male,26.0,1,0,350025,7.8542,NaN,S
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S

In [24]:
import autosklearn.classification

classification = autosklearn.classification.AutoSklearnClassifier(time_left_for_this_task=5*60, 
                                                                 per_run_time_limit=30,
                                                                 n_jobs=8)

In [25]:
#perform it 
classification.fit(titanic_train_nolabel, titanic_train_labels)

/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column Name has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column Sex has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column Ticket has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column Cabin has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/autosklearn/data/feature_validator.py:318: UserWarning: Input Column Embarked has generic type object. Autosklearn will treat this column as string. Please ensure that this setting is suitable for your task.
  warnings.warn(

AutoSklearnClassifier(ensemble_class=<class 'autosklearn.ensembles.ensemble_selection.EnsembleSelection'>,
                      n_jobs=8, per_run_time_limit=30,
                      time_left_for_this_task=300)

In [26]:
#Predict using the model¶
predictions = classification.predict(titanic_test_nolabel)
print("Accuracy score:{}".format(sklearn.metrics.accuracy_score(titanic_test_labels, predictions)))

Accuracy score:0.8100558659217877

In [27]:
#statistics 
print(classification.sprint_statistics())

auto-sklearn results:
  Dataset name: 93da2151-0788-11ee-8be6-0242ac1c000c
  Metric: accuracy
  Best validation score: 0.829787
  Number of target algorithm runs: 58
  Number of successful target algorithm runs: 31
  Number of crashed target algorithm runs: 22
  Number of target algorithms that exceeded the time limit: 5
  Number of target algorithms that exceeded the memory limit: 0